@import '../../../styles.scss';

.mat-toolbar-row,
.mat-toolbar-single-row {
  background-color: $quaternary-color;
  justify-content: space-between;
}

.mat-drawer-inner-container {
  background-color: $quaternary-color;
}

.mat-drawer {
  width: 100%;
}

.logo img {
  height: 3rem;
}

.mat-mdc-list-base {
  --mdc-list-list-item-one-line-container-height: 6rem;
  text-align: center;
}

