<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row>
    <app-burger-button (click)="opened = !opened"></app-burger-button>
    <div class="logo">
      <img src="../../../assets/logo/K.I.T_small.png" alt="logo" />
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">
    <mat-nav-list>
      <a (click)="opened = !opened" mat-list-item routerLink="/rss">Flux RSS</a>
      <a (click)="opened = !opened" mat-list-item routerLink="/todolists">TODO Lists</a>
      <a (click)="opened = !opened" mat-list-item routerLink="/dashboard">Dashboard</a>
      <a (click)="opened = !opened" mat-list-item routerLink="/collections">Mes collections</a>
      <a (click)="opened = !opened" mat-list-item routerLink="/email">Mes emails</a>
      <a (click)="opened = !opened" mat-list-item routerLink="/logout">Me déconnecter</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>