<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row>
    <app-burger-button (click)="opened = !opened"></app-burger-button>
    <div class="logo">
      <img src="../../../assets/logo/K.I.T_small.png" alt="logo" />
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">
    <mat-nav-list>
      <a mat-list-item href="#">Flux RSS</a>
      <a mat-list-item href="#">TODO Lists</a>
      <a mat-list-item href="#">Dashboard</a>
      <a mat-list-item href="#">Mes collections</a>
      <a mat-list-item href="#">Mon profil</a>
      <a mat-list-item href="#">Paramètres</a>
      <a mat-list-item href="#">Me déconnecter</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
