<div class="todolist">
  <div class="icons"></div>
  <div class="meta">
    <h2 class="title">Titre de la liste</h2>
    <p class="description">Petite description</p>
  </div>
  <ul>
    <li>
      <mat-checkbox></mat-checkbox>
      <p>Tâche à faire, un tout petit peu plus longue pour voir</p>
    </li>
    <li>
      <mat-checkbox></mat-checkbox>
      <p class="done">Tâche à faire</p>
    </li>
    <li>
      <mat-checkbox></mat-checkbox>
      <p>Tâche à faire</p>
    </li>
    <li>
      <mat-checkbox></mat-checkbox>
      <p class="done">Tâche à faire</p>
    </li>
    <li>
      <mat-checkbox></mat-checkbox>
      Tâche à faire, mais une tâche très très longue pour voir si le comportement est correct visuellement quand ça
      dépasse de beacoup comme ça
    </li>
  </ul>
</div>
