<div class="todolist">
  <div class="meta">
    <div class="icons">
      <i class="fa-solid fa-pencil" title="Modifier" (click)="openDialogUpdateTodo('0ms', '0ms')"></i>
      <i class="fa-solid fa-trash delete" title="Supprimer" (click)="deleteTodolistFn(todolist)"></i>
      <i
        *ngIf="!todolist.favorite"
        class="fa-regular fa-star"
        title="Ajouter aux favoris"
        (click)="updateFavorite(todolist)"
      ></i>
      <i
        *ngIf="todolist.favorite"
        class="fa-solid fa-star"
        title="Ajouter aux favoris"
        (click)="updateFavorite(todolist)"
      ></i>
    </div>
    <h2 class="title">{{ todolist.title }}</h2>
    <p class="description">{{ todolist.description }}</p>
    <div class="new-task">
      <button mat-raised-button (click)="openDialogAdd('0ms', '0ms')" class="new-task">
        <i class="fa-sharp fa-solid fa-circle-plus"></i>
        Nouvelle tâche
      </button>
    </div>
  </div>
  <div class="tasks">
    <ul>
      <li *ngFor="let task of todolist.tasks">
        <div class="checkbox">
          <mat-checkbox (click)="updateIsDone(task)" [checked]="task.isDone"></mat-checkbox>
        </div>
        <div class="task" [ngClass]="task.isDone ? 'done' : 'none'">{{ task.description }}</div>
        <div class="button">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openUpdateTask(task)" class="update-task">
              <i class="fa-solid fa-pencil" title="Modifier"></i>
              Modifier
            </button>
            <button mat-menu-item (click)="deleteTask(task)">
              <i class="fa-solid fa-trash" title="Supprimer"></i>
              Supprimer
            </button>
          </mat-menu>
        </div>
      </li>
    </ul>
  </div>
</div>
