@use '/src/imports' as *;
.todolist {
  border: 3px solid $quaternary-color;
  width: 280px;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  height: 360px;


  .icons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    .fa-solid, .fa-regular {
      cursor: pointer;
      color: $secondary-color;
      margin: 0 0.5rem;
    }
  }


  .meta {
    text-align: center;
    width: 100%;
    margin: 0.5rem 0;


    .title {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 0;
    }
    .description {
      font-size: 1rem;
      font-weight: 400;
      font-style: italic;
      margin-top: 0;
    }
    .newtask {
      display: flex;
      justify-content: center;

    }
    .fa-sharp {
      text-align: center;
      color: $secondary-color;
      margin: 0 1rem;
      cursor: pointer;
    }
    }


  .tasks {
    width: 100%;
    padding: 0;
    overflow: auto;

    .button {
      position: sticky;
      right: 0;
    }
    .checkbox {
      position: sticky;
      left: 0;
    }

    .done {
      text-decoration: line-through;
      opacity: 0.5;
    }

    li {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0 0 0.5rem 0;

      .task {
        margin: 0;
        width: 70%;
        overflow-wrap: break-word;
        overflow: hidden;
      }

      .mat-mdc-icon-button {
        margin: 0;
      }
    }
    }


}

.tasks::-webkit-scrollbar{
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-top: 1rem;
    font-weight: bold;
    color: $secondary-color;
  }


  label {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 2rem;

    input {
      margin-top: 0.5rem;
    }

  }
}
