<div class="form">
  <h2>Créer un nouveau lien:</h2>
  <div class="inputBox">
    <input type="text" [formControl]="url" />
    <span>Url:</span>
    <div *ngIf="url.invalid && (url.dirty || url.touched)">
      <div *ngIf="url.errors?.['required']">L'URL est obligatoire</div>
      <div *ngIf="url.errors?.['pattern']">L'URL est invalide</div>
    </div>
  </div>
  <div class="inputBox">
    <input type="text" [formControl]="title" />
    <span>Description:</span>
  </div>
  <div class="modal-buttons">
    <button class="cancel" mat-dialog-close>Annuler</button>
    <button class="submit" mat-dialog-close (click)="createLink()">Confirmer</button>
  </div>
</div>
