<div class="form" [formGroup]="linkCreateForm">
  <h3>Créer un nouveau lien:</h3>
  <div class="inputBox">
    <input type="text" [formControl]="url" />
    <span>Url:</span>
    <div *ngIf="url.invalid && (url.dirty || url.touched)">
      <div [hidden]="!userForm.controls['url'].errors['required']">URL is required.</div>
      <div [hidden]="!userForm.controls['url'].invalid">Invalid URL format.</div>
    </div>
  </div>
  <div class="inputBox">
    <input type="text" [formControl]="title" />
    <span>Description:</span>
  </div>
  <div class="modal-buttons">
    <button class="cancel" mat-dialog-close>Annuler</button>
    <button class="submit" mat-dialog-close (click)="createLink()">Confirmer</button>
  </div>
</div>
