@use "/src/imports" as *;

.mentions-legales {
  display: flex;
  max-width: 50%;
  margin: 2rem auto;
  border: 1px solid $main-color;
}

.enterprise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $main-color;
  padding: 1rem;
  width: 50%;
}

h1 {
  font-size: 2rem;
  margin: 2rem;
  color: $main-color;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem;
  color: $main-color;
}

.content {
  padding: 1rem;
  border-radius: 0.5rem;
}
