<div class="mentions-legales">
  <h1>Mentions légales</h1>
  <div class="content" id="content">
    <h1>Mentions légales</h1>
    <p>Ce site est édité par BugsIndustries.</p>
    <h2>Propriété intellectuelle</h2>
    <p>
      Tous les éléments du site, y compris les textes, images, graphismes, logos, fichiers son et vidéo, sont la
      propriété exclusive de BugsIndustries, ou utilisés avec l'accord de leur propriétaire respectif, et sont protégés
      par les lois françaises et internationales sur la propriété intellectuelle.
    </p>
    <h2>Responsibility</h2>
    <p>
      BugsIndustries ne peut en aucun cas être tenu responsable des dommages directs ou indirects, tels que la perte de
      données ou de profits, résultant de l'utilisation ou de l'impossibilité d'utilisation du site ou des sites liés à
      celui-ci.
    </p>
    <h2>Données personnelles</h2>
    <p>
      BugsIndustries s'engage à respecter la vie privée de ses utilisateurs et à protéger les informations personnelles
      qui lui sont fournies. Les données collectées sur ce site sont destinées à un usage interne et ne seront en aucun
      cas transmises à des tiers sans votre consentement.
    </p>
    <h2>Cookies</h2>
    <p>
      Ce site utilise des cookies pour améliorer l'expérience utilisateur et fournir des informations sur la manière
      dont le site est utilisé. Les cookies ne sont pas utilisés pour collecter des informations personnelles. Vous
      pouvez désactiver les cookies dans les paramètres de votre navigateur.
    </p>
    <h2>Modification des mentions légales</h2>
    <p>BugsIndustries se réserve le droit de modifier les présentes mentions légales à tout moment, sans préavis.</p>
    <h2>Contact</h2>
    <p>
      Pour toute question ou commentaire concernant ce site, veuillez nous contacter à l'adresse suivante : [votre
      adresse e-mail ou adresse postale].
    </p>
  </div>
</div>
