<div class="mentions-legales">
  <h1>Mentions légales</h1>
  <div class="content">
    <p>Ce site est édité par BugsIndustries.</p>
    <h2>Propriété intellectuelle</h2>
    <p>
      Tous les éléments du site, y compris les textes, images, graphismes, logos, fichiers son et vidéo, sont la
      propriété exclusive de BugsIndustries, ou utilisés avec l'accord de leur propriétaire respectif, et sont protégés
      par les lois françaises et internationales sur la propriété intellectuelle.
    </p>
    <h2>Responsabilité</h2>
    <p>
      BugsIndustries ne peut en aucun cas être tenu responsable des dommages directs ou indirects, tels que la perte de
      données ou de profits, résultant de l'utilisation ou de l'impossibilité d'utilisation du site ou des sites liés à
      celui-ci.
    </p>
    <h2>Données personnelles</h2>
    <p>
      BugsIndustries s'engage à respecter la vie privée de ses utilisateurs et à protéger les informations personnelles
      qui lui sont fournies. Les données collectées sur ce site sont destinées à un usage interne et ne seront en aucun
      cas transmises à des tiers sans votre consentement.
    </p>
    <h2>Cookies</h2>
    <p>
      Ce site utilise des cookies pour améliorer l'expérience utilisateur et fournir des informations sur la manière
      dont le site est utilisé. Des cookies tiers peuvent également être utilisés pour des fonctionnalités telles que
      les boutons de partage de réseaux sociaux. Les visiteurs peuvent gérer leurs préférences de cookies via leur
      navigateur.
    </p>
    <h2>Termes et conditions</h2>
    <p>
      Les termes et conditions régissant l'utilisation de ce site peuvent être consultés dans une section spécifique
      accessible à partir de la page d'accueil du site.
    </p>
    <h2>Contact</h2>
    <ul>
      <li>
        <p>
          Pour toute question ou commentaire concernant ce site, veuillez nous contacter à l'adresse e-mail suivante :
          [votre adresse e-mail].
        </p>
      </li>
      <li><p>Pour tout courrier postal, envoyer à l'adresse suivante : [votre adresse postale]</p></li>
    </ul>
    <h2>Modification des mentions légales</h2>
    <p>BugsIndustries se réserve le droit de modifier les présentes mentions légales à tout moment, sans préavis.</p>
  </div>
</div>
