<div class="form">
  <h2>Modifier la liste:</h2>
  <div class="inputBox">
    <input type="text" [formControl]="title" />
    <span>Titre:</span>
    <div *ngIf="title.invalid && (title.dirty || title.touched)">
      <div *ngIf="title.errors?.['required']">Le titre est obligatoire</div>
    </div>
  </div>
  <div class="inputBox">
    <input type="text" [formControl]="description" />
    <span>Description:</span>
  </div>
  <div class="modal-buttons">
    <button class="cancel" mat-dialog-close>Annuler</button>
    <button class="submit" mat-dialog-close (click)="updateTodo()">Confirmer</button>
  </div>
</div>
