<div class="form">
  <h2>Modifier la tâche:</h2>
  <div class="inputBox">
    <input type="text" [formControl]="description" />
    <span>Description:</span>
    <div *ngIf="description.invalid && (description.dirty || description.touched)">
      <div *ngIf="description.errors?.['required']">La description est obligatoire</div>
    </div>
  </div>
  <div class="modal-buttons">
    <button class="cancel" mat-dialog-close>Annuler</button>
    <button class="submit" mat-dialog-close (click)="updateTask()">Confirmer</button>
  </div>
</div>
