@use "/src/imports" as *;

.collection {
  width: 260px;
  outline: solid 2px $quaternary-color;
  border-radius: 8px;
  height: 320px;
  display: flex;
  justify-content: end;
}

.collection-infos {
  height: 100%;
  width: 244px;
  background-color: $bg-color;
}

.icons {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 2rem;
  margin-right: 2rem;

  p {
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

.meta {
  margin: 1rem 0 0 1rem;

  h3 {
   margin: 0;
  }
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  width: 100%;
  color: $bg-color;


  li {
    width: 90%;
    height: 2rem;
    margin-top: 0.5rem;

    .link {
      display: flex;
      justify-content: space-between;
      background-color: $quaternary-color;
      border-radius: 4px;
      height: 1.5rem;
      align-items: center;


      p {
        margin: auto;
        color: $bg-color !important;
      }
    }
  }
}
