@use '/src/imports' as *;

.collection {
  width: 260px;

  outline: solid 2px $quaternary-color;
  border-radius: 8px;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  margin: 2rem;

  .collection-infos {
    height: 100%;
    width: 15rem;
    background-color: $bg-color;
    padding: 0.5rem;

    .title {
      font-size: 1.5rem;
    }

    .icons {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-bottom: 1rem;
      .fa-solid,
      .fa-regular {
        cursor: pointer;
        color: $secondary-color;
        margin: 0 0.5rem;
      }
    }

    .meta {
      margin: 1rem 0 0 1rem;

      h3, .description {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .links-section {
      overflow: auto;
      height: 200px;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 0;
      width: 100%;
      color: $bg-color;

      .new-link {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem;

        .new-link-btn {
          background-color: $secondary-color;
          border-radius: 16px;
          padding: 1rem;
          color: white;
          width: 80%;
          cursor: pointer;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }

        .fa-sharp {
          text-align: center;
          color: $bg-color;
        }
      }

      li {
        height: 2rem;
        margin-top: 0.5rem;
        width: 14rem;

        .links {
          display: flex;
          justify-content: space-between;
          background-color: $quaternary-color;
          border-radius: 4px;
          height: 1.5rem;
          align-items: center;
          padding: 0.5rem;
          gap: 0.5rem;

          .link {
            overflow: hidden;

            a {
              color: white;
            }
          }
          .link-icons {
            display: flex;
            gap: 0.5rem;
            .fa-solid,
            .fa-regular {
              color: white;
              font-size: 0.8rem;
              cursor: pointer;
            }
          }
        }
      }
    }
    .fa-sharp {
      text-align: center;
      color: $secondary-color;
      cursor: pointer;
    }
  }
  &.fav-collection {
    width: 200px;
    height: 260px;
    margin: 1rem;
    .collection-infos {
      width: 12rem;
      .icons {
        display: none;
      }
      ul li {
        width: 10rem;
      }
    }
  }
}
.cdk-drag-preview{
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  background-color: $quaternary-color;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  .links {
    display: flex;
    justify-content: space-between;
    background-color: $quaternary-color;
    border-radius: 4px;
    height: 1.5rem;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    .link {
      overflow: hidden;

      a {
        color: white;
      }
    }
    .link-icons {
      display: flex;
      gap: 0.5rem;
      .fa-solid,
      .fa-regular {
        color: white;
        font-size: 0.8rem;
        cursor: pointer;
      }
    }
  }



}

.links-section::-webkit-scrollbar {
  display: none;
}
