<footer class="footer">
  <div class="footer-row">
    <img ngSrc="../../../assets/icons/facebook.png" alt="facebook image" height="64" width="64" />
    <img ngSrc="../../../assets/icons/instagram.png" alt="instagram image" height="64" width="64" />
    <img ngSrc="../../../assets/icons/linkedin.png" alt="linkedin image" height="64" width="64" />
    <img ngSrc="../../../assets/icons/reddit.png" alt="reddit image" height="64" width="64" />
    <img ngSrc="../../../assets/icons/slack.png" alt="slack image" height="64" width="64" />
    <img ngSrc="../../../assets/icons/twitter.png" alt="twitter image" height="64" width="64" />
    <img ngSrc="../../../assets/icons/github.png" alt="github image" height="64" width="64" />
  </div>
  <div class="footer-link">
    <a href="#">Contact</a>
    <a href="#">Mentions légales</a>
    <a href="#">Recrutement</a>
    <a href="#">À propos</a>
  </div>
</footer>
