<footer class="footer">
  <div class="footer-row">
    <img ngSrc="../../../assets/icons/facebook-48.png" alt="facebook image" height="64" width="64" />
    <img ngSrc="../../../assets/icons/instagram-48.png" alt="instagram image" height="64" width="64" />
    <img ngSrc="../../../assets/icons/linkedin-48.png" alt="linkedin image" height="64" width="64" />
    <img ngSrc="../../../assets/icons/reddit-48.png" alt="reddit image" height="64" width="64" />
    <img ngSrc="../../../assets/icons/github-48.png" alt="github image" height="64" width="64" />
  </div>
  <div class="footer-link">
    <a routerLink="/about">Contact</a>
    <a routerLink="/mentionslegals">Mentions légales</a>
    <a routerLink="/job">Recrutement</a>
    <a routerLink="/about">À propos</a>
  </div>
</footer>
