@import "src/styles.scss";
.footer {
  background-color: $quaternary-color;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mat-toolbar-row {
  justify-content: center;
}

.social-icon {
  margin: 0 12px;
  color: white;
  font-size: 24px;

  &:hover {
    transform: translateY(-3px);
  }
}
