#trash {
  display: flex;
  height: 100px;
  width: 200px;
  margin: 20px;
  border-radius: 0.5rem;
  background: #cc6857;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  text-decoration: none solid rgb(255, 255, 255);
}

.grid-stack-item-removing {
  opacity: 0.8;
  filter: blur(5px);
}

.grid-stack-item-content {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: #18bc9c;
  border-radius: 0.5rem;
  height: 100px;
  width: 200px;
  padding: 10px;
  margin: 20px;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.sidebar {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: space-evenly;
  padding: 10px;
  height: auto;
  text-align: center;
  flex-direction: row;
  margin: 15px;
  border: 1px solid #f67280;
  border-radius: 0.5rem;
  & > * {
    height: 100px;
    width: 200px;
  }
}

.grid-container {
  flex-basis: 0;
  flex-grow: 1;
}

.dashboard__content-module {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  height: auto;
  width: auto;
  margin: 10px;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  .dashboard__content-module-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  &:hover .dashboard__content-module-img {
    opacity: 0.3;
  }
}

.grid-stack {
  background: rgba(53, 92, 125, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  min-height: 550px;
  margin: 0 20px;
}

// border: 2px dashed green;

.grid-stack > .grid-stack-item.grid-stack-sub-grid > .grid-stack-item-content {
  background: rgba(0, 0, 0, 0.1);
  inset: 0 2px;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}
.grid-stack.grid-stack-nested {
  background: none;
  position: absolute;
  inset: 0;
}

.dashboard__content-module {
  position: relative;
  margin: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;

  img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    object-position: center;
  }

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .dashboard__content-group_module-middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    text-align: center;
    font-size: 1em;
  }
  .dashboard__content-group_module-middle a {
    padding: 1em;
  }

  &:hover .dashboard__content-group_module-middle {
    opacity: 1;
  }
}
