<div class="image-grid">
  <div class="image-row-first">
    <div class="image-cell">
      <img src="https://via.placeholder.com/900x350.png?text=Angenda" />
    </div>
    <div class="image-cell">
      <img src="https://via.placeholder.com/900x350.png?text=Flux RSS" />
    </div>
  </div>
  <div class="image-row-second">
    <div class="image-cell">
      <img src="https://via.placeholder.com/900x350.png?text=Mes collections" />
    </div>
    <div class="image-cell">
      <img src="https://via.placeholder.com/900x350.png?text=TODO list" />
    </div>
  </div>
</div>
