<div class="dashboard__content">
  <div class="dashboard__content-group_module">
    <div class="dashboard__content-module">
      <a routerLink="#">
        <img
          src="https://images.unsplash.com/photo-1611988615248-5d4f0b9ac31e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
          alt="google calendar"
        />
      </a>
    </div>
    <div class="dashboard__content-module">
      <a routerLink="/rss">
        <img
          src="https://images.unsplash.com/photo-1504711434969-e33886168f5c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
          alt="flux rss"
        />
      </a>
    </div>
  </div>
  <div class="dashboard__content-group_module">
    <div class="dashboard__content-module">
      <a routerLink="/collections">
        <img
          src="https://images.unsplash.com/photo-1604128311556-816dfb846a54?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
          alt="collections"
        />
      </a>
    </div>
    <div class="dashboard__content-module">
      <a routerLink="#">
        <img
          src="https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80"
          alt="todo List"
        />
      </a>
    </div>
  </div>
</div>
