<nav *ngIf="!hasHeader" class="navbar" [ngClass]="{'below-764': isBelow764}">
  <div class="nav-row">
    <div class="logo">
      <a routerLink="/dashboard">
        <img src="../../../assets/logo/K.I.T_small.png" alt="logo" />
      </a>
    </div>
    <ul class="list">
      <li><a routerLink="/dashboard" class="btn">DASHBOARD</a></li>
      <li><a routerLink="/collections" class="btn">MES COLLECTIONS</a></li>
      <li><a routerLink="/rss" class="btn">MES FLUX</a></li>
      <li><a routerLink="/todolists" class="btn">MES TODO LISTS</a></li>
    </ul>
    <div class="nav-profile">
      <a (click)="showOptions()" class="profile-btn">
        <img src="../../../assets/icons/account-48.png" alt="logo" class="profile-img" />
        <div class="dropdown">
          <a routerLink="/profil">Mon profil</a>
          <a routerLink="/settings">Paramètres</a>
          <a routerLink="/home">Se déconnecter</a>
        </div>
      </a>
    </div>
  </div>
</nav>
