<div class="form">
  <h2>Créer une nouvelle collection:</h2>
  <div class="inputBox">
    <input type="text" [formControl]="title" />
    <span>Titre:</span>
  </div>
  <div class="inputBox">
    <input type="text" [formControl]="description" />
    <span>Description:</span>
  </div>
  <div class="inputBox">
    <input class="color" type="color" [formControl]="collectionColor" />
    <span>Couleur:</span>
  </div>

  <div class="modal-buttons">
    <button class="cancel" mat-dialog-close>Annuler</button>
    <button class="submit" mat-dialog-close (click)="createCollection()">Confirmer</button>
  </div>
</div>
