<div class="body">
  <div class="collections">
    <!-- Formulaire de création de collection -->
    <div class="form">
      <h3>Créer une nouvelle collection:</h3>
      <label>
        Titre:
        <input type="text" [formControl]="title" />
      </label>
      <label>
        Description:
        <input type="text" [formControl]="description" />
      </label>
      <label>
        Lien:
        <input type="text" [formControl]="link" />
      </label>
      <label>
        Commentaire:
        <input type="text" [formControl]="comment" />
      </label>
      <label>
        Couleur:
        <input class="color" type="color" [formControl]="collectionColor" />
      </label>
      <button (click)="createCollection()">Créer une collection</button>
    </div>
    <!-- Display the Collection Component instance with the Angular collection -->
    <app-collection [collection]="angular" class="angular"></app-collection>
    <!-- Display the Collection Component instance with the React collection -->
    <app-collection [collection]="react" class="react"></app-collection>

    <div *ngFor="let collection of collections" class="singleCollection">
      <app-collection [collection]="collection" [collectionColor]="collectionColor"></app-collection>
    </div>
  </div>
</div>
