@import 'src/styles.scss';

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    input {
      border: 1px solid $secondary-color;
    }
  }
}
