@use '/src/imports' as *;

.new-list {
  margin: 2rem;
  font-size: 1.1rem;
  background-color: $quaternary-color;
  padding: 1.2rem;
  border-radius: 4px;
  color: $bg-color;
  cursor: pointer;
  .fa-sharp {
    color: $bg-color;
    font-size: large;
  }
}

h1 {
  text-align: center;
  margin: 2rem;
  color: $secondary-color;
  font-size: 2rem;
  font-weight: bold;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
