<div class="new-list">
  <i class="fa-sharp fa-solid fa-circle-plus"></i>
  Ajouter une nouvelle liste
</div>
<h1>Mes todo lists</h1>

<div class="lists">
  <div *ngFor="let todolist of todolists" class="singletodo">
    <app-todolist [todolist]="todolist" [deleteTodolist]="deleteTodolist"></app-todolist>
  </div>
</div>
<div *ngFor="let todolist of todolists" class="singletodo">
  <app-todolist *ngIf="todolist.isFavorite" [todolist]="todolist" [deleteTodolist]="deleteTodolist"></app-todolist>
</div>
