<div class="aboutPage">
  <div class="presentation">
    <h1>QUI SOMMES NOUS ?</h1>
    <div class="about">
      <div class="team-container">
        <div class="team-member">
          <img src="./assets/photos/tristan.png" alt="tristan's photo" />
          <div class="team-member-info">
            <h4>Mattei Tristan</h4>
            <div class="links">
              <a href="https://github.com/MatteiT" target="_blank">GitHub</a>
              /
              <a href="https://www.linkedin.com/in/tristan-mattei-a8675417a/" target="_blank">LinkedIn</a>
            </div>
          </div>
        </div>
        <div class="team-member">
          <img src="./assets/photos/emeric.jpg" alt="EmericB's photo" />
          <div class="team-member-info">
            <h4>Bous Emeric</h4>
            <div class="links">
              <a href="https://github.com/emericb" target="_blank">GitHub</a>
              /
              <a href="https://www.linkedin.com/in/emeric-bous-413841164/" target="_blank">LinkedIn</a>
            </div>
          </div>
        </div>
        <div class="team-member">
          <img src="./assets/photos/valentin.jpg" alt="Tylyfox's photo" />
          <div class="team-member-info">
            <h4>Cadart Valentin</h4>
            <div class="links">
              <a href="https://github.com/Tylyfox" target="_blank">GitHub</a>
              /
              <a href="https://www.linkedin.com/in/valentin-cadart-93762b161/" target="_blank">LinkedIn</a>
            </div>
          </div>
        </div>
        <div class="team-member">
          <img src="./assets/photos/alex.jpg" alt="Newaluigi's photo" />
          <div class="team-member-info">
            <h4>Levillain Alexandre</h4>
            <div class="links">
              <a href="https://github.com/Newaluigi" target="_blank">GitHub</a>
              /
              <a href="https://www.linkedin.com/in/alexandre-levillain/" target="_blank">LinkedIn</a>
            </div>
          </div>
        </div>
        <div class="team-member">
          <img src="./assets/photos/emma.jpg" alt="Emmirose's photo" />
          <div class="team-member-info">
            <h4>Rosso Emma</h4>
            <div class="links">
              <a href="https://github.com/emmirose" target="_blank">GitHub</a>
              /
              <a href="https://www.linkedin.com/in/emma-rosso-dev/" target="_blank">LinkedIn</a>
            </div>
          </div>
        </div>
        <p>
          Nous sommes la Bugs squad. Notre mission : éliminer les bugs présents sur notre chemin. Comme vous le savez
          sans doute, un grand pouvoir implique de grandes responsabilités... C'est pourquoi notre équipe de
          super-développeurs a décidé de mettre à profit toutes ses commpétences pour développer K.I.T. afin de le
          mettre à disposition de nos confrères pour améliorer leur quotidien. Nous avons mis tout notre coeur dans ce
          projet pour qu'il soit le plus efficace possible de votre laptop à votre mobile, en passant même par les
          écrans 15''. N'hésitez pas à nous envoyer un message via le formulaire ci-dessous si vous souhaitez nous
          rejoindre ou si vous avez des questions.
        </p>
      </div>

      <div class="QR">
        <img
          src="https://qr-api.quel.jp/v1/?size=4&data=https%3A%2F%2Fqr-creator.com%2Furls%2FbY27DsIwDEU_CEF3tlB1AwYUMUZyW9NachKUOH38PZVZs12fY93rZpFvvjbNRDKX_jJE3zxABMm6ikKPiYa-puzO-yduNfXEFbjQRPVKTylmdP_Zk2nN2SbKAsGZBQSSok6XNd5iya6FEZLo_QbGIHS8M24QxoSK77gQMxy88x4UvWLO0f0A"
          alt="QR Code"
        />
        <h4>Le QRcode de l'équipe</h4>
      </div>
    </div>
  </div>
  <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
    <h1>CONTACTEZ-NOUS</h1>
    <label>Email:</label>
    <input type="email" formControlName="email" required />
    <div
      *ngIf="
        contactForm.controls.email.errors && (contactForm.controls.email.dirty || contactForm.controls.email.touched)
      "
      class="invalid"
    >
      <div class="error" *ngIf="contactForm.controls.email.errors?.['required']">Email is required.</div>
      <div class="error" *ngIf="contactForm.controls.email.errors?.['email']">Email address is not valid.</div>
    </div>
    <label>Message:</label>
    <textarea formControlName="text" required></textarea>
    <div
      *ngIf="contactForm.controls.text.errors && (contactForm.controls.text.dirty || contactForm.controls.text.touched)"
      class="invalid"
    >
      <div class="error" *ngIf="contactForm.controls.text.errors?.['required']">Message is required.</div>
      <div class="error" *ngIf="contactForm.controls.text.errors?.['minlength']">
        Message must be at least 10 characters long
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
