@use '/src/imports' as *;

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 200px;
  line-height: normal;
}

.container {
  height: 1.15em;
  font-size: 10rem;
  font-family: $font;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  width: 100%;
  display: block;
  text-align: center;
}

.upper {
  top: 0;
  height: 52.5%;
  color: $main-color;
  overflow: hidden;
  z-index: 3;
  animation: moveUp 3s ease-in-out 1;
  background-color: $quaternary-color;
  font-size: 10rem;
}

.lower {
  bottom: 0;
  height: 100%;
  background: linear-gradient(180deg, transparent 52.5%, $main-color 52.5%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  z-index: 1;
  animation: moveDown 3s ease-in-out 1;
  font-size: 10rem;
}

.inside {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  text-align: center;
  z-index: 2;
  font-size: 2rem;
  color: $tertiary-color;
}

@keyframes moveUp {
  0%,
  100% {
    top: 0;
  }

  50%,
  70% {
    top: -45px;
  }
}

@keyframes moveDown {
  0%,
  100% {
    top: 0;
  }

  50%,
  70% {
    top: 90px;
  }
}

@media (max-width: 424px) {
  .container {
    font-size: 2.5rem;
  }

  .inside {
    font-size: 0.75rem;
  }
}

@media (max-width: 320px) {
  .container {
    font-size: 2rem;
  }

  .inside {
    font-size: 0.5rem;
  }
}
