@use '/src/imports' as *;

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 150px;
  line-height: normal;
}

.container {
  height: 1.15em;
  font-size: 10rem;
  font-family: $font;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  width: 100%;
  display: block;
  text-align: center;
}

.upper {
  top: 0;
  height: 52.5%;
  color: $main-color;
  overflow: hidden;
  z-index: 3;
  animation: moveUp 3s ease-in-out;
  background-color: $quaternary-color;
  font-size: 8rem;
  font-family: $font;
}

.lower {
  bottom: 0;
  height: 100%;
  background: linear-gradient(180deg, transparent 52.5%, $main-color 52.5%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  z-index: 1;
  animation: moveDown 3s ease-in-out;
  font-size: 8rem;
  font-family: $font;
}

.inside {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  text-align: center;
  z-index: 2;
  font-size: 2rem;
  color: $tertiary-color;
}

@keyframes moveUp {
  0%,
  100% {
    top: 0;
  }

  50%,
  70% {
    top: -45px;
  }
}

@keyframes moveDown {
  0%,
  100% {
    top: 0;
  }

  50%,
  70% {
    top: 50px;
  }
}

header:hover .upper {
  animation: moveUp 4s ease-in-out infinite;
}

header:hover .lower {
  animation: moveDown 4s ease-in-out infinite;
}
