$burgerWidth: 24px;
$burgerBarHeight: 1px;
$burgerBarColor: #333;

.burger-menu {
  border: none;
  background-color: transparent;
  color: transparent;
  display: flex;
  align-items: center;
  width: $burgerWidth;
  height: $burgerWidth;
  cursor: pointer;

  .burger-container {
    position: relative;

    .burger-inner {
      position: absolute;
      width: $burgerWidth - 0 * $burgerBarHeight;
      /*width: $burgerWidth - 2 * $burgerBarHeight;*/
      left: 0px;
      /*top: 11px;*/
      border: $burgerBarHeight solid $burgerBarColor;
      transition: border-color 0.2s ease-in 0.2s;

      &::before {
        position: absolute;
        content: '';
        top: -6px;
        left: -$burgerBarHeight;
        width: $burgerWidth - 2 * $burgerBarHeight;
        border: $burgerBarHeight solid $burgerBarColor;
        transition: top 0.2s ease-in 0.3s, transform ease-in 0.2s;
      }

      &::after {
        position: absolute;
        content: '';
        top: 4px;
        left: -$burgerBarHeight;
        width: $burgerWidth - 2 * $burgerBarHeight;
        border: $burgerBarHeight solid $burgerBarColor;
        transition: top 0.2s ease-in 0.3s, transform ease-in 0.2s;
      }
    }
  }

  &.active .burger-container .burger-inner {
    border-color: transparent;
    transition: border-color ease-in 0.1s;
  }

  &.active .burger-container .burger-inner::before {
    top: -$burgerBarHeight;
    transform: rotate(-45deg);
    transition: top ease-out 0.2s, transform 0.2s ease-out 0.3s;
  }

  &.active .burger-container .burger-inner::after {
    top: -$burgerBarHeight;
    transform: rotate(45deg);
    transition: top ease-out 0.2s, transform 0.2s ease-out 0.3s;
  }
}
