@use 'src/_imports.scss' as *;

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #1d2b3a;
}
.rssFeed__form-inputBox {
  position: relative;
  width: 250px;
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,2555,2555,0.25);
    background-color: #1d2b3a;
    border-radius: 5px;
  }
}



