<div class="form">
  <h2>Modifier une collection:</h2>
  <div class="inputBox">
    <input type="text" [formControl]="title" />
    <span>Titre:</span>
    <div *ngIf="title.invalid && (title.dirty || title.touched)">
      <div *ngIf="title.errors?.['required']">Le titre est obligatoire</div>
    </div>
  </div>
  <div class="inputBox">
    <input type="text" [formControl]="description" />
    <span>Description:</span>
  </div>
  <div class="inputBox">
    <input class="color" type="color" [formControl]="collectionColor" />
    <span>Couleur:</span>
  </div>
  <div class="modal-buttons">
    <button class="cancel" mat-dialog-close>Annuler</button>
    <button class="submit" mat-dialog-close (click)="updateCollection()">Confirmer</button>
  </div>
</div>
