/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$main-color: #F67280 ;
$secondary-color: #C06C84 ;
$tertiary-color: #6C5B7B ;
$quaternary-color: #355C7D ;
$bg-color: #FFFFFF ;
$text-color: #000000 ;
$grey-color: #333333 ;
$logo: url("src/assets/logo/K.I.T.png") ;
$logo2: url("src/assets/logo/K.I.T2.png") ;

