<div class="presentation-container">
  <img class="imgleft" src="assets/logo/logotest.png" alt="presentation" />
  <ul class="pres-features">
    <li>Documentation</li>
    <li>Veille technologique</li>
    <li>Planning</li>
    <li>Gestion des tâches</li>
  </ul>
  <img class="imgright" src="assets/logo/logoHP.png" alt="presentation" />
</div>
<img class="imgcenter" src="assets/logo/logohome.png" alt="presentation" />
<div class="presentation-text">Toutes vos ressources de la devosphère sur un même espace.</div>
<div class="scroll">
  <button id="scrollbutton" (click)="scrollToBottom()">Entrer</button>
</div>
