<!-- eslint-disable prettier/prettier -->

<div class="homeform">
    <div class="container">
        <div class="row">
            <div class="underow">
                <div class="choice">
                    <h6 class="choice-text">
                        <span>S'identifier</span>
                        <span>S'enregistrer</span>
                    </h6>
                    <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                    <label for="reg-log"></label>
                    <div class="card-3d-wrap">
                        <div class="card-3d-wrapper">

                            // card Log in

                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="form-section">
                                        <h4 class="form-title">S'identifier</h4>
                                        <div class="form-group">
                                            <input type="email" name="logemail" class="form-style" placeholder="Email"
                                                id="logemail" autocomplete="off" />
                                            <!-- <i class="input-icon uil uil-at"></i> -->
                                            <i class=" input-icon fa-solid fa-at"></i>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="logpass" class="form-style"
                                                placeholder="Mot de passe" id="logpass" autocomplete="off" />
                                            <i class="input-icon fa-solid fa-lock"></i>
                                        </div>
                                        <a href="#" class="btn">soumettre</a>
                                        <p class="password"><a href="#0" class="link-pw">Mot de passe
                                                oublié?</a></p>
                                    </div>
                                </div>
                            </div>

                            // card register

                            <div class="card-back">
                                <div class="center-wrap">
                                    <div class="form-section">
                                        <h4 class="form-title">S'enregistrer</h4>
                                        <div class="form-group">
                                            <input type="text" name="logname" class="form-style"
                                                placeholder="Identifiant" id="logname" autocomplete="off" />
                                            <i class="input-icon fa-regular fa-user"></i>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="logemail" class="form-style"
                                                placeholder="Your Email" id="logemail" autocomplete="off" />
                                            <i class=" input-icon fa-solid fa-at"></i>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="logpass" class="form-style"
                                                placeholder="Your Password" id="logpass" autocomplete="off" />
                                            <i class="input-icon fa-solid fa-lock"></i>
                                        </div>
                                        <a href="#" class="btn mt-4">submit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>