<!-- eslint-disable prettier/prettier -->

<div class="homeform">
  <div class="container">
    <div class="row">
      <div class="underow">
        <div class="choice">
          <h3 class="choice-text">
            <span>S'identifier</span>
            <span>S'enregistrer</span>
          </h3>
          <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
          <label for="reg-log"></label>
          <div class="card-3d-wrap">
            <div class="card-3d-wrapper">

              <!-- Card: Log in -->

              <form [formGroup]="loginForm" (submit)="login()" autocomplete="on" class="card-front">
                <div class="center-wrap">
                  <div class="form-section">
                    <h4 class="form-title">S'identifier</h4>
                    <div class="form-group">
                      <input formControlName="email" type="email" name="logemail" class="form-style" placeholder="Email"
                             id="logemail" autocomplete="new-password" />
                      <i class="input-icon fa-solid fa-at"></i>
                    </div>
                    <div class="form-group">
                      <input type="password" name="logpass" class="form-style" formControlName="password"
                             placeholder="Mot de passe" id="logpassword" autocomplete="new-password" />
                      <i class="input-icon fa-solid fa-lock"></i>
                    </div>
                    <div class="buttons">
                      <button type="submit" class="btn">Soumettre</button>
                      <button type="button" (click)="loginWithGoogle()" class="btn mt-4">Se connecter avec Google</button>
                    </div>
                  </div>
                </div>
              </form>

              <!-- Card: Register -->

              <form [formGroup]="registerForm" (submit)="register()" autocomplete="off" class="card-back">
                <div class="center-wrap">
                  <div class="form-section">
                    <h4 class="form-title">S'enregistrer</h4>
                    <div class="form-group">
                      <input type="text" formControlName="username" name="username" class="form-style"
                             placeholder="Username" id="Username" autocomplete="off" />
                      <i class="input-icon fa-regular fa-user"></i>
                    </div>
                    <div class="form-group">
                      <input type="email" formControlName="email" name="email" class="form-style" placeholder="Email"
                             id="regemail" autocomplete="off" />
                      <i class="input-icon fa-solid fa-at"></i>
                    </div>
                    <div class="form-group">
                      <input type="password" formControlName="password" name="password" class="form-style"
                             placeholder="Mot de passe" id="reggpassword" autocomplete="off" />
                      <i class="input-icon fa-solid fa-lock"></i>
                    </div>
                    <div *ngIf="registerForm.get('email')?.errors?.['email']" class="error-message">
                      L'adresse e-mail est invalide.
                    </div>
                    <div *ngIf="registerForm.get('password')?.errors?.['passwordStrength']" class="error-message">
                      Le mot de passe doit comporter au moins 8 caractères, une lettre majuscule, une lettre minuscule et un chiffre.
                    </div>
                    <button type="submit" class="btn submit-btn">Soumettre</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
