@use "src/_imports.scss" as *;

.rss__myFlux {
  flex-direction: column;
  margin: 1em 4em;
  padding: 2em;
  border: 2px solid $quaternary-color;
  border-radius: 6px;
  overflow: auto;
  .rss__myFlux-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    button {
      background-color: $quaternary-color;
      color: $bg-color;
      font-family: $font;
      border: none;
      cursor: pointer;
      border-radius: 6px;
      padding: 0.5em;
    }
    h2 {
      color: $main-color;
      font-weight: $font-weight-medium;
      margin-bottom: 0;
    }
  }
}
.rss_myFlux-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem;
}

@media screen and (max-width: 800px) {
  .rss__myFlux {
    margin: 0.5em;
    padding: 0.5em;
  }
  .rss__myFlux-header {
    margin-bottom: 0.5em;
    button {
      padding: 0.25em;
      font-size: 0.9em;
    }
    h2 {
      font-size: 1.1em;
    }
  }
  .rss_myFlux-content{
    margin: 0;
  }
}

