@use "src/_imports.scss" as *;

.rss__myFlux {
  flex-direction: column;
  margin: 1em 4em;
  padding: 2em;
  border: 2px solid $quaternary-color;
  border-radius: 6px;
  height: 95vh;
  overflow: auto;
  .rss__myFlux-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    button {
      background-color: $quaternary-color;
      color: $bg-color;
      font-family: $font;
      border: none;
      cursor: pointer;
      border-radius: 6px;
      padding: 0.5em;
    }
    h2 {
      color: $main-color;
      font-weight: $font-weight-medium;
    }
  }
  .rss_myFlux-card {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
  }
}

