<div class="rss__myFlux">
  <div class="sidebar" *ngIf="isLargeScreen">
    <app-sidebar-rss-feed
      [rssFeeds]="rssService.rssFeeds"
      (feedSelected)="onFeedSelected($event)"
    ></app-sidebar-rss-feed>
  </div>
  <div class="rss__myFlux--head">
    <div class="rss__myFlux-header">
      <div class="sidebar" *ngIf="!isLargeScreen">
        <app-sidebar-rss-feed
          [rssFeeds]="rssService.rssFeeds"
          (feedSelected)="onFeedSelected($event)"
        ></app-sidebar-rss-feed>
      </div>
      <div class="rss_myFlux-header__title_button">
        <div class="rss_myFlux-header__button">
          <button (click)="openModal()">+ Ajouter un flux RSS</button>
        </div>
        <h2>{{ feedSelected ? 'ARTICLE DU FLUX : ' + feedSelected.title : 'ARTICLES DES FLUX' }}</h2>
      </div>
    </div>
    <div class="rss_myFlux-content">
      <app-rss-feed-all [rssDataItems]="this.rssService.rssDataItems"></app-rss-feed-all>
    </div>
  </div>
</div>
