
.rss__myFlux {
  margin: 1em;
  button {
    background-color: #355C7D;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 0.5em;
  }
  h1 {
    color: $main-color;
    margin: 1em 0 2em 0;
  }
}

