<div class="sidebar-feedGlobal" [ngClass]="{ open: isOpen }">
  <div class="sidebar-feedGlobal__toggle">
    <h2 *ngIf="!isOpen">MES FLUX RSS</h2>
    <i
      id="toggleButton"
      class="fas"
      [ngClass]="{ 'fa-bars': isOpen, 'fa-xmark': !isOpen }"
      (click)="toggleSidebar()"
    ></i>
  </div>
  <div class="rssFeed-global">
    <div *ngFor="let feed of rssData">
      <div class="rssFeed-global__header">
        <div class="rssFeed-global__header-title">
          <ng-container *ngIf="feed.image; else noImage">
            <img [src]="feed.image" alt="rss feed image" />
          </ng-container>
          <ng-template #noImage>
            <div>
              <i class="fa-sharp fa-solid fa-rss"></i>
            </div>
          </ng-template>
          <h3>{{ feed.title }}</h3>
        </div>
        <div class="link-icons">
          <i class="fa-solid fa-pencil" title="Modifier"></i>
          <i class="fa-solid fa-trash" title="Supprimer"></i>
        </div>
      </div>
      <p>{{ feed.description }}</p>
      <a href="{{ feed.link }}" target="_blank">Consulter le site→</a>
      <p></p>
    </div>
  </div>
</div>
